<div class="form-container" ng-controller="ValidationController">
    <form name="userForm" ng-submit="submitForm()" novalidate>
        
        <!-- Username -->
        <label>Username:</label>
        <input type="text" name="username" ng-model="user.username" ng-change="validateUsername()" required>
        <span class="error" ng-show="usernameMessage !== 'Valid username'">{{ usernameMessage }}</span>
        <span class="valid" ng-show="usernameMessage === 'Valid username'">{{ usernameMessage }}</span>
        <br><br>

        <!-- Password -->
        <label>Password:</label>
        <input type="password" name="password" ng-model="user.password" ng-change="validatePassword()" required>
        <span class="error" ng-show="passwordMessage">{{ passwordMessage }}</span>
        <br><br>

        <button type="submit">Submit</button>
    </form>
</div>
